h1, h2, h3{
  font-family: 'Bebas Neue', cursive !important;
  color: white;
}
h4{
  font-family: 'Open Sans', sans-serif !important;
  color: orange;
}
h5{
  font-family: 'Open Sans', sans-serif !important;
  color: orange;
}

p{
  font-family: 'Open Sans' sans-serif !important;
  color: white;
}
h1{ font-size: 80px !important;}
h2{font-size: 36px !important;}
h3{font-size: 24px !important;}
h4{font-size: 18px !important;}
h5{font-size: 14px !important;}

/* Navbar */
.navbar-brand {
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: 32px;
}

.navbar-custom{
  background-color: rgba(0, 0, 0, 0.7) !important;
}

/*
.nav-link{
  text-transform: uppercase;
}
*/

/*Jumbotron*/
/*.jumbotron {
  background-image: url(img/main-bg.jpg);
  background-size: cover;
  height: 1024px;
  text-align: center;
  color: white;
}
*/

.jumbotron{
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 35rem;
  padding: 0rem ;
  background-image: url("img/main-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  margin-bottom: 0rem;
  border-radius: 0rem;
  color: white;
}


.jumbofont{
  font-size: 16px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  color: blanchedalmond;
}

/*Games*/
/*.row {
  background-image: url(img/the-games-bg.jpg);
  background-size: cover;
  height: 1024px;
  text-align: center;
}
*/

.games{
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 35rem;
  padding: 0rem ;
  background-image: url("img/the-games-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  margin-bottom: 0rem;
  border-radius: 0rem;
}

.gtext{
  text-align: left;
  margin-left: 15%;
}


/*
.col-4 {
  margin-top: 250px;
  color: white;
}

.col-8 {
  margin-top: 300px;
  width: 80%;
}
*/

/*Features*/

.features{
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
  min-height: 35rem;
  padding: 0rem ;
  background-image: url("img/features.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  margin-bottom: 0rem;
  border-radius: 0rem;
}

.feature-edit{
  transform: translate(20%, 50%);
  top: 50%;
  left: 20%;
}
/*Stepper Vertical*/

.features-3 {
  width: 25%;
}

.step {
  
  padding: 10px;
  
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  
  background-color: cream;
}

.v-stepper {
  position: relative;
/*   visibility: visible; */
}


/* regular step */
.step .circle {
  background-color: white;
  border: 3px solid gray;
  border-radius: 100%;
  width: 20px;    /* +6 for border */
  height: 20px;
  display: inline-block;
}

.step .line {
    top: 23px;
  left: 12px;
/*   height: 120px; */
  height: 100%;
    
    position: absolute;
    border-left: 3px solid gray;
}

.step.completed .circle {
  visibility: visible;
  background-color: rgb(239, 245, 248);
  border-color: rgb(240, 243, 245);
}

.step.completed .line {
  border-left: 3px solid rgb(6,150,215);
}

.step.active .circle {
visibility: visible;
  border-color: rgb(6,150,215);
}

.step.empty .circle {
    visibility: hidden;
}

.step.empty .line {
/*     visibility: hidden; */
/*   height: 150%; */
  top: 0;
  height: 150%;
}


.step:last-child .line {
  border-left: 3px solid white;
  z-index: -1; /* behind the circle to completely hide */
}

.fstep {
  margin-left: 20px;
  display: inline-block;
}

/*Requirement*/
 .requirement{
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
  min-height: 35rem;
  padding: 0rem ;
  background-image: url("img/requirements.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  margin-bottom: 0rem;
  border-radius: 0rem;
 }

/*Top Scores*/
.top{
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
  min-height: 35rem;
  padding: 0rem ;
  background-image: url("img/top-score-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  margin-bottom: 0rem;
  border-radius: 0rem;
}

.img-user-topscore {
  max-width: 60px;
  height: auto;
  box-shadow: 5px 2px 0px 0px rgb(241, 183, 22);
  border-radius: 50%;
}
.card {
  background-color: rgb(54, 54, 54);
  max-width: 375px;
}
.top-score-name {
  color: rgb(241, 183, 22);
  margin: 0;
}

/*newlatter*/
.newsletter{
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
  min-height: 35rem;
  padding: 0rem ;
  background-image: linear-gradient(180deg, rgba(0,0,0,1) 5%, rgba(11,11,11,0.8) 18%, rgba(37,37,37,0.6) 37%, rgba(255,255,255,0) 85%), 
  url("img/newsletter-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  margin-bottom: 0rem;
  border-radius: 0rem;
}

/*footer*/
.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

/*Footer*/
.nav-link:hover {
  color: white;
}
.footer-info {
  background-color: rgb(9, 9, 9);
  font-size: 12px;
  font-weight: 700;
}
.bottom-nav{
  padding: 0 .3rem;
}

/*Utility*/
/*Class baru di tombol pada 
<a class="nav-item btn btn-primary tombol" href"#"> See more</a>
.tombol{
  text-transform: uppercase;
  border-radius: 40px;
}*/

/*Dekstop Version*/
@media (min-width: 992px) { 
  .navbar-brand, .nav-link{
    color: white !important;
    text-shadow: 1px 1px 1px rgba (0, 0, 0, 0.9);
  }

  .nav-link{
    text-transform: uppercase;
    margin-right: 30px;
  }

/* Memberikan garis pada bagian bawah navlink dengan warna hitam
  .nav-link:hover {
    border-bottom: 3px solid #000000;
  */  
  
  /*
  .nav-link:hover::after {
    content: '';
    display: block;
    border-bottom: 3px solid #000000;
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
  }
  */

  /*
  .jumbotron {
    margin-top: -45px;
  }

  .jumbotron .display-4 {
    font-size: 60px;
  }
  */
  
}
  
 